.Burger {
	transition: color 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95),
		background-color 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95),
		opacity 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s,
		transform 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
}

.Burger::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 2px;
	transform: translate(-50%, -50%) translateY(-4px);

	transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
}

.Burger::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 2px;
	transition: transform 0.3s cubic-bezier(0.35, 0.755, 0.42, 0.95);
}

.Burger.is-burger::before {
	transform: translate(-50%, -50%) translateY(-4px);
}

.Burger.is-burger::after {
	transform: translate(-50%, -50%) translateY(4px);
}

.Burger.is-close::before {
	transform: translate(-50%, -50%) rotate(25deg);
}

.Burger.is-close::after {
	transform: translate(-50%, -50%) rotate(-25deg);
}

.Burger.is-burger::after,
.Burger.is-burger::before {
	background-color: white;
}

.Burger.is-close::after,
.Burger.is-close::before {
	background-color: black;
}
