@font-face {
  font-family: 'Kobe';
  font-weight: 200;
  src: url("../../KobeRegular.woff") format("woff");
}

@font-face {
  font-family: 'Kobe Bold';
  font-weight: 200;
  src: url("../../Kobe1.1-Bold.woff") format("woff");
}

@media (max-width: 699px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1600px) and (max-width: 1999px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 2000px) and (max-width: 2399px) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 2400px) {
  html {
    font-size: 21px;
  }
}

:export {
  light: #f9f7f1;
  dark: #151414;
  yellow: #F0D549;
  red: #d95133;
  blue: #276dc9;
}

.header-burger {
  border-radius: 50%;
  background-color: transparent;
  border: 0px;
  width: 4.8rem;
  height: 2rem;
  overflow: visible;
  position: relative;
  padding: 0.4rem;
  margin-left: auto;
}

.header-burger span {
  transition: 400ms ease;
  background-color: black;
  width: 100%;
  height: 3px;
  position: absolute;
  right: 0;
}

.header-burger span.bottom {
  bottom: 0;
}

.header-burger span.top {
  top: 0;
}

@media screen and (max-width: 1200px) {
  header .logo-wrapper {
    width: 200px;
  }
  .header-burger {
    width: 4.8rem;
  }
}

@media screen and (max-width: 900px) {
  header .logo-wrapper {
    width: 150px;
  }
  .header-burger {
    width: 4.2rem;
  }
}

@media screen and (max-width: 700px) {
  header .logo-wrapper {
    width: 150px;
  }
  .header-burger {
    width: 3.6rem;
  }
}

@media screen and (max-width: 600px) {
  header .logo-wrapper {
    width: 140px;
  }
  .header-burger {
    width: 3.2rem;
    height: 1.3rem;
  }
}

@media screen and (max-width: 375px) {
  header .logo-wrapper {
    width: 130px;
  }
  .header-burger {
    width: 2.8rem;
    height: 1.3rem;
  }
}

@media screen and (max-width: 320px) {
  header .logo-wrapper {
    width: 130px;
  }
  .header-burger {
    width: 2.6rem;
    height: 1rem;
  }
}

#eye .cls-1,
#eye .cls-3,
#eye .cls-4,
#eye .cls-5 {
  fill: none;
}

#eye .cls-2,
#eye .cls-3,
#eye .cls-4,
#eye .cls-5 {
  fill-rule: evenodd;
}

#eye .cls-3 {
  stroke: #151414;
}

#eye .cls-3,
#eye .cls-4,
#eye .cls-5 {
  stroke-miterlimit: 10;
}

#eye .cls-4 {
  stroke-width: 66px;
}

#eye .cls-5 {
  stroke-width: 62px;
}

#eye #overlays path {
  stroke: #f9f7f1;
}

#ear .cls-1 {
  fill: #151414;
}

#ear .cls-1,
#ear .cls-2 {
  fill-rule: evenodd;
}

#ear .cls-2 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 66px;
}

#eye,
#ear,
#hero-amperstand {
  position: absolute;
}

#eye {
  width: 40vw;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
}

#ear {
  width: 30vw;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
}

a,
ul,
li {
  text-decoration: none;
  color: inherit;
  list-style: none;
}

p,
a,
li {
  font-weight: 200;
}

button:hover,
a:hover {
  cursor: pointer;
}

.home-intro-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.home-vision {
  color: #151414;
}

.slider-wrapper {
  width: 100vw;
  height: 700px;
  position: absolute;
}

.slider-wrapper .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider-wrapper .slider-inner .slider-item {
  margin: 0 4rem;
  position: relative;
  width: 50vw;
  height: 50vw;
  max-height: 100%;
  max-width: 500px;
  background-color: white;
  overflow: hidden;
}

.slider-wrapper .slider-inner .slider-item .slider-img {
  height: 100%;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 700px) {
  .slider-wrapper {
    height: 70vw !important;
  }
  .slider-item {
    margin: 0 1rem !important;
    height: 100% !important;
    width: auto;
  }
}

body {
  overflow-x: hidden;
}

.transition-mask {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.clip-me-path {
  stroke: white;
  stroke-width: 300px;
  fill: none;
}

.object-container {
  padding: 4rem;
}

.o-wrapper {
  padding: 0 4em;
}

.c-section {
  min-height: 100vh;
  width: 100%;
}

.vision-section {
  z-index: -1;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1400px) {
  .o-wrapper {
    padding: 0 15rem;
  }
}

.section-hero .object-container {
  height: 500px;
}

.section-hero #hero-amperstand {
  font-size: 50vw;
  color: #F0D549;
  height: 40vw;
}

.section-hero #hero-amperstand .scroll-cta {
  font-family: 'Kobe';
  font-size: 1.5vw;
  color: #151414;
  top: 28%;
  right: 15%;
}

.section-hero #hero-amperstand .scroll-cta .scroll-cta-inner {
  transform: translateY(100%);
  display: block;
}

.section-hero #hero-amperstand .amperstand-inner {
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-hero__title-wrapper {
  width: 89vw;
  height: 40vw;
}

.section-hero__title-wrapper .section-hero__title__part:nth-of-type(2) {
  left: 32vw;
}

.section-hero__title-wrapper .section-hero__title__part:nth-of-type(3) {
  right: 0;
}

.section-hero__title-wrapper .section-hero__title__part:nth-of-type(4) {
  top: 7vw;
}

.section-hero__title-wrapper .section-hero__title__part:nth-of-type(5) {
  bottom: 0;
  left: 40vw;
}

.section-hero__title-wrapper .section-hero__title__part:nth-of-type(6) {
  bottom: 0;
  right: 0;
}

.heroText {
  font-size: 13vw;
  letter-spacing: -1vw;
}

.burger-is-hovered {
  transition: 300ms;
}

#draggable-follower {
  border-radius: 50%;
  background-color: #d95133;
  transform: translate(-50%, -50%);
  z-index: 999;
}

@media (max-width: 620px) {
  .section-hero__title-wrapper {
    height: 400px;
  }
  .section-hero__title-wrapper .section-hero__title__part {
    font-size: 20vw;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .section-hero__title__part {
    font-size: 10vw;
  }
}

.-display-flex {
  display: flex;
}

.-justify-content-center {
  justify-content: center;
}

.-justify-between {
  justify-content: space-between;
}

.-z-50 {
  z-index: 50;
}

.-heading-small {
  font-size: 3.7rem;
  line-height: 3.7rem;
}

.-flex-column {
  flex-direction: column;
}

.-margin-auto {
  margin: 0 auto;
  display: block;
}

.-align-items-center {
  align-items: center;
}

.-pg-large {
  font-size: 4.8rem;
  line-height: 5rem;
}

.-pg-small {
  font-size: 2rem;
}

.-pg-small p {
  line-height: 2.5rem;
}

.-pg-medium {
  font-size: 4rem;
  margin-top: 3rem;
}

.-pg-medium p {
  line-height: 4.4rem;
}

.-bg-dark {
  background-color: #151414;
  color: #f9f7f1;
}

.-bg-light {
  background-color: #f9f7f1;
}

.-bg-yellow {
  background-color: #F0D549;
}

.-bg-blue {
  background-color: #276dc9;
}

.-bg-red {
  background-color: #d95133;
}

.-big {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  line-height: 9rem;
}

.-indent {
  text-indent: 4em;
}

.-txt-xs {
  font-size: 1.8rem;
}

.-txt-dark {
  color: #151414;
}

.-txt-light {
  color: #f9f7f1;
}

.-pd-sm {
  padding: 1rem;
}

.-pd-md {
  padding: 4vw;
}

.fade-up-rows .line-wrapper {
  overflow: hidden;
}

.fade-up-rows .line-wrapper .line {
  transform: translateY(100%);
}

.-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.-fixed-left {
  position: fixed;
  top: 0;
  left: 0;
}

.-fixed-right {
  position: fixed;
  top: 0;
  right: 0;
}

.is-hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.-position-absolute {
  position: absolute;
}

.-fade-down {
  opacity: 0;
  transform: translateY(-100%);
  display: block;
}

.-position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.-position-relative {
  position: relative;
}

.-w-100 {
  width: 100%;
}

.-w-150vw {
  width: 150vw;
}

.-h-100 {
  height: 100%;
}

.-fill-light {
  fill: #f9f7f1;
}

.is-x {
  transform: rotate(360deg);
  transform-origin: center;
  transition: transform 400ms ease;
}

.is-x span {
  height: 4px;
  z-index: 1;
  margin-left: auto;
  top: 50%;
  right: 0;
  transform-origin: center;
}

.is-x .top {
  position: absolute;
  margin-bottom: 0px;
  width: 100%;
  transform: translate(0, -50%) rotate(45deg);
}

.is-x .bottom {
  margin-top: 0px;
  width: 100%;
  position: absolute;
  transform: translate(0, -50%) rotate(-45deg);
}

.-index-0 {
  z-index: 0;
}

.-index-1 {
  z-index: 1;
}

.hidden {
  visibility: hidden;
}

.is-off {
  transform: translateX(-100%);
}

.-heading-bold {
  font-family: "Kobe Bold";
}

.-heading-medium {
  font-family: 'Kobe';
  font-size: 6rem;
  line-height: 4.86rem;
  letter-spacing: -0.4rem;
}

.-fw-400 {
  font-family: "Kobe Bold";
}

.-fw-200 {
  font-weight: 200;
}

.-heading-black {
  font-family: "FK";
  font-weight: 600;
}

.-heading-black.-heading-large {
  font-size: 6rem;
  line-height: 9rem;
}

.-xl {
  font-size: 30rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .paragraph-wrapper.-large p {
    font-size: 5.9rem;
    line-height: 5rem;
    letter-spacing: -0.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .paragraph-wrapper.-large p {
    font-size: 5.5rem;
    line-height: 5.3rem;
    letter-spacing: -0.2rem;
  }
  .heading-wrapper.-xl {
    font-size: 25rem;
  }
}

@media screen and (max-width: 900px) {
  .paragraph-wrapper.-large p {
    font-size: 4.3rem;
    line-height: 4rem;
    letter-spacing: -0.1rem;
  }
  .heading-wrapper.-xl {
    font-size: 23rem;
  }
}

@media screen and (max-width: 700px) {
  .paragraph-wrapper.-large p {
    font-size: 3rem;
    line-height: 3rem;
  }
  .heading-wrapper.-xl {
    font-size: 16rem;
  }
  .revealer__inner {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .paragraph-wrapper.-large p {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }
  .heading-wrapper.-xl {
    font-size: 11rem;
  }
}

@media screen and (max-width: 375px) {
  .paragraph-wrapper.-large p {
    font-size: 2rem;
    line-height: 2.1rem;
  }
  .heading-wrapper.-xl {
    font-size: 9rem;
  }
}

@media screen and (max-width: 320px) {
  .paragraph-wrapper.-large p {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .heading-wrapper.-xl {
    font-size: 6.3rem;
  }
}

.grid {
  display: grid;
}

.how-grid {
  grid-template-columns: repeat(12, 1fr);
  margin: 6vw;
  grid-gap: 1.4vw;
}

.how-grid .paragraph-wrapper {
  width: 12vw;
}

.how-grid .paragraph-wrapper p {
  line-height: 1.4vw;
}

.how-grid .heading-wrapper {
  margin-bottom: 3em;
}

.how-grid .-heading-medium {
  width: 15vw;
  font-size: 5vw;
  letter-spacing: -0.3vw;
  line-height: 4vw;
  text-transform: uppercase;
}

.how-grid__1 {
  grid-column: 3/7;
  grid-row: 1/2;
}

.how-grid__2 {
  grid-column: 6/9;
  grid-row: 2/3;
}

.how-grid__3 {
  grid-column: 9/14;
  grid-row: 4/5;
}

.how-grid__4 {
  grid-column: 6/9;
  grid-row: 5/6;
}

.how-grid__5 {
  grid-column: 3/6;
  grid-row: 6/7;
}

@media only screen and (max-width: 600px) {
  .how-grid {
    grid-template-columns: repeat(6, 1fr);
    margin: 6vw;
    grid-gap: 1.4vw;
  }
  .how-grid .paragraph-wrapper,
  .how-grid .-heading-medium {
    width: 100%;
    text-align: center;
  }
  .how-grid .heading-wrapper {
    margin-bottom: 6vw;
  }
  .how-grid .grid-col {
    grid-column: span 6;
    margin-bottom: 15vw;
  }
  .how-grid__1 {
    grid-row: 1/2;
  }
  .how-grid__2 {
    grid-row: 2/3;
  }
  .how-grid__3 {
    grid-row: 4/5;
  }
  .how-grid__4 {
    grid-row: 5/6;
  }
  .how-grid__5 {
    grid-row: 6/7;
  }
}

.transition-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
}

#transition-morph__leave {
  display: none !important;
}

.transition-path {
  fill: none;
  stroke: white;
  stroke-width: 100px;
}

#transition-svg {
  stroke: black;
  stroke-width: 200px;
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  fill: none;
}

.transition-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F0D549;
  z-index: -99999;
}

.transition-group .transition-card {
  z-index: 999;
  background-color: #F0D549;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.transition-group .transition-out {
  transform: translateX(-100%);
}

.transitioner {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F0D549;
  z-index: 9999;
  transform: translateX(-100%);
}

.-heading-xl {
  font-size: 10vw;
  line-height: 15vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
p {
  height: 100%;
  width: 100%;
  line-height: 1.6;
  font-family: "Kobe";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

.App {
  background-color: orange;
}

main {
  clip-path: url(#transition-clip);
}

.transition-mask {
  position: fixed;
}
