.c-cursor {
	height: 10rem;
	width: 10rem;
	background-color: $yellow;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	border-radius: 50%;
	transform: scale(0) translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 2rem;

	&.is-drag {
		cursor: none;
		pointer-events: none;
	}
}
