.o-stories {

	.swiper-wrapper {
		align-items: center;
	}

	position: relative;

	.o-container {
		width: 100%;
	}
}

.c-stories {
	margin: 0 auto;
	position: relative;
	position: relative;

	.o-h2 {
		text-align: left;
		margin: 0;
	}

	&_frame {
		width: 100% !important;
		left: 50% !important;
		transform: translateX(-50%);

		@include media("<=phoneL") {
			display: none;
		}

		position: absolute;
		top: 1vw !important;
		height: 150%;

		.c-frame_svg_quote {
			fill: $dark;
			position: absolute;
			width: 6vw;

			&-top {
				top: -2vw;
				right: 8vw;
			}

			&-bottom {
				bottom: -2vw;
				left: 8vw;
				transform: rotate(180deg);
			}

			@media screen and (min-width: 1200px) {
				&-top {
					right: 70px !important;
					top: -20px;
					width: 80px;
				}

				&-bottom {
					left: 68px !important;
					bottom: -15px;
					width: 80px;
				}
			}
		}

		// path {
		// 	stroke: $yellow;
		// }
	}

	&_mobile-bg {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 120vw;
		height: 120vw;
		background-color: $yellow;
		border-radius: 50%;
		transform: translate(-50%, -50%) scaleX(2) scaleY(1.2);
		display: none;
	}

	&_content {
		height: 100%;
		position: relative;
		overflow: hidden;
	}

	&_main {
		display: flex;
		align-items: center;
		max-width: 70vw;
		justify-content: space-between;
		position: relative;
		margin: 0 auto;
		overflow: hidden;
		height: 100%;
	}

	&_controls {
		display: flex;
		position: absolute;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		top: 50%;
	}

	&_indicator {
		margin-left: 11vw;
		z-index: 999;
		position: static;

		&,
		& span {
			font-family: "Riposte" !important;
		}
	}

	@include media("<=phoneL") {
		&_main {
			flex-direction: column;

			max-width: 100%;
		}

		&_content {
			width: 100%;
			overflow: hidden;
		}

		.mobile-controls {
			> * {
				width: 5rem;
				height: 5rem;
			}

			button:first-child {
				margin-right: 1rem;
			}
		}

		&_controls {
			width: 100%;

			justify-content: center;
			margin-top: 6vw;
			position: static;

			& button:first-child {
				margin-right: 1rem;
			}

			& button {
				width: 20vw;
				height: 20vw;
			}
		}

		// &_indicator,
		// &_main h2,
		// &_main h4,
		// &_main h4 {
		// 	margin: 0;
		// }

		&_indicator,
		h4 {
			margin-left: 0;
			width: 100%;

			text-align: center;

			z-index: 99;

			.o-text {
				margin: 0;

				& span {
					font-family: "Riposte";
				}
			}

			.o-text span:last-child {
				color: $grey;
			}
		}
	}
}

.c-stories {

	height: 40vw;

	&_story {
		top: 0;
		left: 50%;

		&:not([data-story-id="1"]) {
			opacity: 0;
			position: absolute;
			width: 100%;
			left: 0;
		}

		// transform: translateX(-50%);

		// &:not(:first-of-type) {
		// 	// opacity: 0;
		// 	// display: none;
		// }

		h2,
		h4 {
			width: 100%;
			text-align: center;
			font-family: "Kobe" !important;
		}
	}

	@include media("<=phoneL") {
		height: 120vw;

		h2 p {
			text-align: center;
		}
	}
}
