
.c-quotation {
	width: 100vw;
	height: 100vw;
	transform: rotate(90deg)translate(-50%, -50%);

	svg {
		
		height: 100%;
	}
}

.c-stories {
	margin: 0 auto;
	position: relative;

	&_content {
		width: 70%;
		margin: 0 auto;
		height: 100%;
		position: relative;

		h2, p {
			margin: 4vw 0;
		}

		> div {
			height: 100%;
			width: 100%;
		}

		> div:not(:nth-of-type(1)) {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}

	&_main {
		display: flex;
		align-items: center;
		max-width: 70vw;
		justify-content: space-between;
		position: relative;
		margin: 0 auto;
		overflow: hidden;
	}

	&_controls {
		display: flex;
		position: absolute;
		align-items: center;
		width: 100%;
		justify-content: space-between;
	}

	&_indicator {
		margin-left: 20.5vw;
		
		&, & span {
			font-family: 'Riposte' !important;
		}
	}




	@include media("<=phoneL") {
		&_main {
			flex-direction: column;
			
			max-width: 100%;
		}


	&_content {
		width: 100%;
		
	}

		&_controls {
			width: 100%;

			justify-content: center;
			margin-top: 6vw;
			position: static;

			& button:first-child {
				margin-right: 1rem;
			}

			& button {
				width: 20vw;
				height: 20vw;
			}
		}

		// &_indicator,
		// &_main h2,
		// &_main h4,
		// &_main h4 {
		// 	margin: 0;
		// }

		&_indicator,
		h4 {
			margin-left: 0;
			width: 100%;
			font-size: 4vw;
			text-align: center;
			margin-bottom: 2vw;

			z-index: 99;

			.o-text {
				margin: 0;

				& span {
					font-family: "Riposte";
				}
			}

			.o-text span:last-child {
				color: $grey;
			}
		}

		&_story {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			overflow: hidden;
			width: 60%;
			height: 100%;
			top: 0;
			left: 50%;
			// transform: translateX(-50%);

			&:not(:first-of-type) {
				opacity: 0;
				display: none;
			}

			h2,
			h4 {
				width: 100%;
				text-align: center;
			}

			h2 {
				margin: 10vw 0;
				font-size: 10vw !important;
			}

			p {
				font-size: 6vw !important;
				line-height: 6.8vw !important;
				text-align: center;
				margin-top: 0;
				margin-bottom: 4vw;
			}
		}
	}
}
