.c-arrow-button {
	&:focus {
		outline: none;
	}

	background: none;
	width: 5rem;
	height: 5rem;
	border: 0px;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
	position: relative;

	.hoverCircle {
		transform: scale(0);
		transform-origin: top;
		transition: $transition;
		position: sticky;
		z-index: 0;
	}

	path {
		z-index: 99;
		position: sticky;
		transition: $transition;
	}

	@include media("<=tablet") {
		width: 3rem;
		height: 3rem;
	}

	&:hover {
		opacity: 1;
	}

	&:hover .hoverCircle {
		transform: scale(1);
	}

	&.is-dark {
		svg path {
			fill: $dark;
			fill-opacity: 0.5;
		}

		&:hover svg path {
			fill: $light;
		}

		circle:not(.hoverCircle) {
			stroke: $dark;
			stroke-opacity: 0.5;
			stroke-width: 1.5px;
		}

		.hoverCircle {
			fill: $dark;
		}
	}

	&.is-light {
		svg path {
			fill: $light;
			fill-opacity: 0.5;
		}


		&:hover svg path {
			fill: $dark;
		}

		.hoverCircle {
			fill: $light;
		}
		


		circle:not(.hoverCircle) {
			stroke: $light;
			stroke-opacity: 0.5;
			stroke-width: 1.5px;
		}
	}

	// &:hover::after {
	// 	transform: scale(1);
	// 	top: 0;
	// 	left: 0;
	// }
}
