.c-arrow-button {
	&:focus {
		outline: none;
	}

	background: none;
	width: 5rem;
	height: 5rem;
	border: 0px;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
	position: relative;

	@include media("<=tablet") {
		width: 3rem;
		height: 3rem;
	}

	&:hover {
		opacity: 1;
	}

	// &:hover::after {
	// 	transform: scale(1);
	// 	top: 0;
	// 	left: 0;
	// }

	.circle {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $dark;
		top: 0;
		left: 0;
		display: none;
	}

	.c-arrow-svg {
		overflow: hidden;
		position: relative;
		display: block;
		z-index: 999;

		// circle:nth-of-type(2) {
		// 	transition: 400ms ease;
		// 	position: fixed;
		// 	transform: scale(0.4);

		// 	display: block;
		// 	transform-origin: center;
		// 	fill: $dark;
		// }

		// &:hover circle:nth-of-type(2) {
		// 	fill: $dark;
		// 	transform: scale(1);
		// 	transition: 400ms ease;
		// }

		path {
			fill: $grey;

			position: static;
			

			&:first-child {
				transform: translateX(100%);
			}
		}

		circle:not(.hoverCircle) {
			stroke: $grey;
			
			stroke-width: 2px;
		}

		.hoverCircle {
			stroke: $dark;
			stroke-width: 2px;
		}
	}

	&.is-light {
		&:hover path {
			fill: $dark;
		}

		&::after {
			background-color: $light;
		}
		circle {
			stroke: $grey;
			stroke-width: 2px;
		}

		path {
			fill: $grey !important;
		}
	}
}
