.c-menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: block;
	z-index: 999;
	transform: translateY(-100%);
	transform-origin: top;
	transition: 600ms ease;
	padding-top: $headerHeight;
	background-color: $dark;
	transition: $transition-menu;

	&.is-active {
		transform: translateY(0)
	}

	&_nav {
		height: 100%;
		width: 100%;

		ul {
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			text-align: center;
			
			
			li {
				overflow: hidden;
				
				.c-link {
					transform: translateY(-150%);
					opacity: 0;
					display: block;
				}
				

				&:not(:last-child) {
					margin-bottom: 3rem;
				}

			}

		

			li:hover .c-link {
				color: lighten($yellow, 10%);
			}

		

			

			.c-link {
				color: $light;
				font-family: 'Canela';
			

				@include media("<=tablet") {
					font-size: 18vw;
					line-height: 18vw;
				}
			}
		}
	}
}
