.c-menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: block;
	z-index: 999;
	transform: scaleY(0.0001);
	transform-origin: top;
	transition: 600ms ease;
	padding-top: $headerHeight;
	background-color: $dark;
	transition: $transition-menu;

	&.is-active {
		transform: scaleY(1);
	}

	&_nav {
		height: 100%;
		width: 100%;

		ul {
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			height: 100%;
			
			li {
				opacity: 0;

				&:not(:last-child) {
					margin-bottom: 3rem;
				}

				&:nth-of-type(2) {
					transition-delay: 100ms;
				}
				&:nth-of-type(3) {
					transition-delay: 200ms;
				}
			}

			li .c-link {
				transition: 300ms ease;
			}

			li:hover .c-link {
				color: lighten($yellow, 10%);
			}

			li:nth-of-type(even) {
				align-self: flex-end;
				@include media("<=tablet") {
					align-self: flex-start;
				}
			}

			

			.c-link {
				color: $light;
				font-family: 'Canela';
		text-transform: none;					

				@include media("<=tablet") {
					font-size: 18vw;
					line-height: 18vw;
				}
			}
		}
	}
}
