.c-arrow-button {
	position: relative;

	&:focus {
		outline: none;
	}

	background: none;
	width: 3rem;
	height: 3rem;
	border: 0px;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
	position: relative;

	path {
		z-index: 99;
		position: sticky;
		// transition: $transition;
	}

	@include media("<=tablet") {
		width: 3rem;
		height: 3rem;
	}

	&:hover {
		opacity: 1;
	}

	.circle {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transform: scale(0);
		transition: 400ms ease;
		border-radius: 50%;
	}

	&:hover .circle {
		transform: scale(1);
	}

	&.is-dark {
		svg path {
			fill: $dark;
			fill-opacity: 0.5;
		}

		.circle {
			background-color: $dark;
		}

		&:hover svg path {
			fill: $light;
			fill-opacity: 1;
		}

		circle:not(.hoverCircle) {
			stroke: $dark;
			stroke-opacity: 0.5;
			stroke-width: 1.5px;
		}
	}

	&.is-light {
		svg path {
			fill: $light;
		}

		.circle {
			background-color: $light;
		}

		&:hover svg path {
			fill: $dark;
			fill-opacity: 1;
		}

		circle:not(.hoverCircle) {
			stroke: $light;
			stroke-opacity: 0.5;
			stroke-width: 1.5px;
		}
	}

	// &:hover::after {
	// 	transform: scale(1);
	// 	top: 0;
	// 	left: 0;
	// }
}
