// header nav {
// 	li {
// 		opacity: 0;
// 	}
// }

// .c-header_logo {
// 	overflow: hidden;
// 	svg {
// 		overflow: hidden;
// 	}
// }

// header .c-header_logo {
// 	opacity: 0
// }

// .is-first-visit header {
// 	box-shadow: 3px 4px 30px -12px rgba(0, 0, 0, 0.2);
// }

.c-header_nav-btn  {
	opacity: 0;
}

.is-not-first-visit .c-header_nav-btn  {
	opacity: 1;
}

.is-not-first-visit header .c-header_logo {
	opacity: 1;
}

// .c-drawnLogo {
// 	&:not(footer .c-drawnLogo) {
// 		opacity: 0;
// 	}
// }
.is-not-first-visit .c-drawnLogo {
	&:not(footer .c-drawnLogo) {
		opacity: 1;
	}
}

// header .c-header_logo {
// 	.chars path {
// 		transform: translateY(100%);
// 		opacity: 0;
// 	}
// }

// .is-not-first-visit .o-page_home {
// 	.o-hero {
// 		h1 {
// 			opacity: 0;
// 		}
// 	}
// }
