.o-introCard {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99999;

	&_text {
		z-index: 1;
		opacity: 0;
		overflow: hidden;
		color: $dark;
		

		.c-line {
			font-size: 4.9vw;
			line-height: 4.7vw;
		}

		.c-word {
			overflow: hidden;
		}

		.c-char {
			transform: translateY(100%);
			opacity: 0;
		}
	}

	&_bg {
		z-index: 0;
		background-color: $light;
	}
}
