.c-list {
	display: flex;
	li:not(:last-child) {
		margin-right: 4rem;
	}

	li {
		position: relative;

		&::after {
			transition: $transition;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1.5px;
			content: "";
			transform-origin: left;
			transform: scaleX(0);
		}

		&:hover::after {
			transform: scaleX(1);
		}

		&:hover .c-link {
			transform: translateY(-20%);
		}
	}

	.c-link {
		font-size: 1rem;
		transition: $transition;
		display: block;
	}
}
