.c-list {
	display: flex;

	li:not(:last-child) {
		margin-right: 4rem;
	}

	li {
		position: relative;

		&:hover .c-link {
			transform: translateY(-20%);
		}
	}

	&_social {
		align-items: center;
		justify-content: center;
		li {
			&:hover a svg {
				opacity: 0.4;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					transition: 400ms ease;
				}
			}

			&:not(:last-of-type) {
				margin-right: 1rem;
			}
		}
	}

	.c-link {
		font-size: 1rem;
		transition: $transition;
		display: block;
	}
}
