.o-text {
	line-height: 1.55rem;

	&,
	& p {
		font-family: "Riposte";
	}
}

.-text-big {
	font-size: 3vw;
	line-height: 3vw;
	font-family: "Canela" !important;
	

	@include media("<=tablet") {
		.c-star.-inline svg,
		.c-planet.-inline svg {
			width: 2rem !important;
			height: 2rem !important;
		}
	}
}
