.o-text {
		
	font-size: 1.2rem;
	line-height: 2.1rem;

	@include media("<=tablet") {
		&, & p {
			font-size: 1.8rem;
			line-height: 2.5rem;
		}
			
	}

	&,
	& p {
		font-family: "Riposte";
	}
}

.-text-big {
	font-size: 3vw;
	line-height: 3vw;
	
	

	@include media("<=tablet") {
		.c-star.-inline svg,
		.c-planet.-inline svg {
			width: 2rem !important;
			height: 2rem !important;
		}
	}
}
