.transition-mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 100%;
	width: 100%;
}

#transition-morph__leave {
	display: none !important;
}

.transition-path {
	fill: none;
	stroke: white;
	stroke-width: 100px;
}




.transition-group {
	.transition-card {
		z-index: 999;
		background-color: $yellow;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.transition-out {
		transform: translateX(-100%);
	}
}

.transitioner {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $yellow;
	z-index: 9999;
	transform: translateX(-100%);
}
