#eye {
	.cls-1,
	.cls-3,
	.cls-4,
	.cls-5 {
		fill: none;
	}
	.cls-2,
	.cls-3,
	.cls-4,
	.cls-5 {
		fill-rule: evenodd;
	}
	.cls-3 {
		stroke: $dark;
	}
	.cls-3,
	.cls-4,
	.cls-5 {
		stroke-miterlimit: 10;
	}

	.cls-4 {
		stroke-width: 66px;
	}
	.cls-5 {
		stroke-width: 62px;
	}

	#overlays path {
		stroke: $light;
	}
}

#ear {
	.cls-1 {
		fill: $dark;
	}
	.cls-1,
	.cls-2 {
		fill-rule: evenodd;
	}
	.cls-2 {
		fill: none;
		stroke: #fff;
		stroke-miterlimit: 10;
		stroke-width: 66px;
	}
}
#eye,
#ear,
#hero-amperstand {
	position: absolute;
}

#eye {
	width: 40vw;
	left: -15%;
	top: 50%;
	transform: translateY(-50%);
}

#ear {
	width: 30vw;
	right: -10%;
	top: 50%;
	transform: translateY(-50%);
}

a,
ul,
li {
	text-decoration: none;
	color: inherit;
	list-style: none;
}

p,
a,
li {
	font-weight: 200;
}

button:hover,
a:hover {
	cursor: pointer;
}

.home-intro-wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.home-vision {
	color: $dark;
}

.slider-wrapper {
	width: 100vw;
	height: 700px;

	position: absolute;

	.slider-inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 200vw;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.slider-item {
			margin: 0 4rem;
			position: relative;
			width: 50vw;
			height: 50vw;
			max-height: 100%;
			max-width: 500px;
			background-color: white;
			overflow: hidden;

			.slider-img {
				height: 100%;
				background-size: cover;
				background-position: center;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.slider-wrapper {
		height: 70vw !important;
	}

	.slider-item {
		margin: 0 1rem !important;
		height: 100% !important;
		width: auto;
	}
}
