
//Font imports
@font-face {
  font-family: 'Kobe';
  font-weight: 200;
  src: url('../../KobeRegular.woff') format('woff');
}

@font-face {
  font-family: 'Kobe Bold';
  font-weight: 200;
  src: url('../../Kobe1.1-Bold.woff') format('woff');
}




//Global media queries
@media (max-width:699px) {
  html {
      font-size: 15px
  }
}
@media (min-width:700px) and (max-width:1024px) {
  html {
      font-size: 13px
  }
}
@media (min-width:1025px) and (max-width:1199px) {
  html {
      font-size: 13px
  }
}
@media (min-width:1200px) and (max-width:1399px) {
  html {
      font-size: 14px
  }
}
@media (min-width:1400px) and (max-width:1599px) {
  html {
      font-size: 15px
  }
}
@media (min-width:1600px) and (max-width:1999px) {
  html {
      font-size: 17px
  }
}
@media (min-width:2000px) and (max-width:2399px) {
  html {
      font-size: 19px
  }
}
@media (min-width:2400px) {
  html {
      font-size: 21px
  }
}
