.section-hero {
.object-container {
	height: 500px;
}
	

	#hero-amperstand {
		font-size: 50vw;
		color: $yellow;
		height: 40vw;

		.scroll-cta {
			
			font-size: 1.5vw;
			color: $dark;
			top: 28%;
			right: 15%;
			
		

			.scroll-cta-inner {
				transform: translateY(100%);
				display: block;
			}

		}
		
 .amperstand-inner {
	height: 40vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
		
	}
}


.section-hero__title-wrapper {
	width: 89vw;
  height: 40vw;
	.section-hero__title__part {
		
		&:nth-of-type(2) {
			left: 32vw;
		}

		&:nth-of-type(3) {
			right: 0;
		}

		&:nth-of-type(4) {
			top: 7vw;
		}

		&:nth-of-type(5) {
			bottom: 0;
			left: 40vw;
		}

		&:nth-of-type(6) {
			bottom: 0;
			right: 0;
		}
		
	}
}

.heroText {
	font-size: 13vw;
	letter-spacing: -1vw;
}




.burger-is-hovered {
	transition: 300ms;
}

#draggable-follower {

	border-radius: 50%;
	background-color: $red;
	transform: translate(-50%, -50%);
	z-index: 999;
}


@media (max-width: 620px) {

	.section-hero__title-wrapper {

		height: 400px;

		.section-hero__title__part {
			font-size: 20vw
	}
	}
	
}

@media (min-width:1200px) and (max-width:1399px) {
  .section-hero__title__part {
      font-size: 10vw
  }
}
