$dark: #201F1F;
$light: rgb(249, 247, 241);
$lightBlue: #A1CBD3;
$lightGreen: #11A972;
$yellow: #f7e27c;
$red: #d95133;
$blue: #276dc9;
$pd-sm: 1rem;
$mg-sm: 1rem;
$bold: 'Kobe Bold';

//Media Query Devices

$mobileS: (max-width: 320px);
$mobileM: (max-width: 375px);
$mobileL: (max-width: 425px);
$tablet: (max-width: 768px);
$laptop: (max-width: 1024px);
$laptopL: (max-width: 1440px);
$desktop: (max-width: 2560px);


:export {
  light: $light;
  dark: $dark;
  yellow: $yellow;
  red: $red;
  blue: $blue
}



