$dark: #201F1F;
$light: rgb(249, 247, 241);
$lightBlue: #A1CBD3;
$lightGreen: #11A972;
$yellow: #F0D549;
$red: #d95133;
$blue: #276dc9;
$pd-sm: 1rem;


:export {
  light: $light;
  dark: $dark;
  yellow: $yellow;
  red: $red;
  blue: $blue
}

