body {
  overflow-x: hidden;
}



.transition-mask {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.clip-me-path {
  stroke: white;
  stroke-width: 300px;
  fill: none;
}

.object-container {
	padding: 4rem;
}



.o-wrapper {
  padding: 0 4em;
}

.c-section {
 min-height: 100vh;
  width: 100%;
}

.vision-section {
  z-index: -1;
}



.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1400px) {
  .o-wrapper {
    padding: 0 15rem;
  }
}