body {
  overflow-x: hidden;
}

.o-wrapper {
  padding: 0 4em;
}

.c-section {
  min-height: 100vh;
  width: 100%;
}

.vision-section {
  z-index: -1;
}



.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1400px) {
  .o-wrapper {
    padding: 0 15rem;
  }
}