@import "config";
@import "vars";

@import "functions";
@import "header";
@import "components";
@import "wraps";

@import "specific";
@import "utils";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {

	height: 100%;
	width: 100%;
	font-family: "Kobe";
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
}

main {
	min-height: 100vh;
}
