.HeroWord {
	font-family: "Kobe Bold";
}

.HeroWord_2 {
	align-self: flex-end;
}

.c-drawnLogo,
.c-drawnLogo svg {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 1900px and max-width: 769px) {
	.HeroLogo {
		transform: translate(-50%, -50%);
	}
}

@media screen and (min-width: 769px) {
	.HeroLogo {
		transform: translate(-65%, -50%);
	}
}

@media screen and (max-width: 769px) {
	.HeroLogo {
		transform: translateX(-10%);
	}
}

@media screen and (max-width: 769px) {
	.HeroWord {
		display: none !important;
	}

	.HeroLogo {
		width: 40vw !important;
		height: 40vw !important;
	}
}
