.c-header {
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	height: $headerHeight;
	z-index: 9999;
	background: none;

	.c-header_left_spacer {
		width: 3rem;
		height: 3rem;
	}

	.c-arrow-button {
		width: 100%;
		height: 100%;
	}

	.c-link {
		display: block;
	}

	.o-container {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.c-list li {
		
		
		

		&:hover {
			opacity: 0.5;
		}

		&:hover::after {
			background-color: $dark;
		}
	}

	&_logo {
		width: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: $transition;
	}

	&_nav.desktop .c-list {
		@include media("<=tablet") {
			display: none;
		}
	}

	&_nav-btn.mobile {
		border: 0px;
		height: 20%;
		width: 20px;
		transition: 600ms ease;
		background-color: transparent;

		&.is-active {
			&::after {
				top: 50%;
				transform: rotate(-45deg);
			}

			&::before {
				top: 50%;
				transform: rotate(45deg);
				height: 2px;
			}
		}

		position: relative;
		&:hover {
			transform: rotate(180deg);
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			content: "";
			height: 1px;

			transform-origin: center;
			transition: 200ms ease;
		}

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			content: "";
			height: 1px;

			transform-origin: center;
			transition: 200ms ease;
		}

		@include media(">=tablet") {
			display: none;
		}
	}
}
