.o-page_contact {
	.o-textOne {
		.o-text {
			margin-right: 50%;
		}

		@include media("<=tablet") {
			.o-text {
				margin: 0;
				
			
			}
		}
	}

	.o-text {
		font-size: 1.8rem;
		line-height: 2.5rem;
	}

	.o-hero {
		height: 50vw;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		.o-colorBlobs {
			height: 50vw;
		}
	}

	.o-intro2 {
		margin-left: 52%;
		margin-top: 5rem;

		@include media("<=tablet") {
			margin: 0 !important;
			
		}

		@include media(">=tablet") {
			padding-left: 0;
		}

		.o-text {
			font-size: 1.2rem;
			line-height: 1.8rem;
		}
	}

	.o-intro {


	

		&_left {
			.o-text {
				font-size: 1.2rem;
				line-height: 1.8rem;
			}

			.o-text:first-child {
				margin-top: 0;
			}
		}

		.o-container {
			height: 100%;
		}

		.o-container > div {
			width: 50%;
			height: 100%;

			&:first-child {
				margin-left: $space-xl;
			}
		}

		@include media("<=tablet") {

		

			.o-container > div {
				&:first-child {
					margin: 0;
				}

				&:nth-child(2) {
					margin-top: $space-xl;
				}
			}
			.o-container {
				flex-direction: column !important;

				> * {
					width: 100% !important;
				}
			}
		}

		&_image {
			width: 100%;
			height: 100%;
			max-width: 600px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

	}


	@include media("<=tablet") {
		.o-text {
			font-size: 1.8rem !important;
			line-height: 3rem !important;
		}
	}
}
