.c-megaphone {
	width: 30vw;
}

.o-page_home {
	.o-how {
		.o-h1 {
			margin: 0 auto;
			text-align: center;
		}
	}
}

.steps-container .c-note {
	position: absolute;
	height: 8vw;

	&_1 {
		top: 0;
		left: 0;
	}

	&_2 {
		top: 20vw;
		right: 10vw;
	}

	&_3 {
		left: 0;
		bottom: 25vw;
	}

	&_clef,
	&_whole {
		display: none;
	}

	> div {
		height: 100%;
		width: 100%;
	}

	path {
		fill: $dark;
	}

	&_clef {
		top: 0;
		left: -6vw;
		height: 6vw;
		transform: rotate(40deg);
		height: 7vw;
	}

	// &_half {
	// 	right: 20vw;
	// 	top: 15vw;
	// 	height: 5vw;
	// 	transform: rotate(30deg);
	// }

	// &_quarter {
	// 	left: 20vw;
	// 	top: 40vw;
	// 	height: 5vw;
	// }

	&_whole {
		right: 15vw;
		bottom: 17vw;
		height: 3vw;
		transform: rotate(270deg);
	}

	svg {
		height: 100%;
	}

	@include media("<=tablet") {
		&_clef {
			top: 15vw;
			height: 12vw;
		}

		&_whole {
			height: 9vw;
			top: 35vw;
			right: -8vw;
		}

		&_quarter {
			height: 18vw;
			top: 150vw;
			left: -2vw;
			transform: rotate(30deg) !important;
		}

		&_half {
			height: 18vw;
			top: 100vw;
			left: -2vw;
			transform: rotate(30deg) !important;
		}
	}
}




.title,
.body {
	width: 17vw;
}

.title,
.title p {
	font-size: 4.167vw;
	line-height: 4.167vw;
	margin: 2vw 0;
	p {
		margin: 0;
	}
}

.body {
	font-family: "Riposte";
	font-size: 1.2vw;
	line-height: 1.5vw;

	p {
		margin: 0;
	}
}

.c-steps {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5vw;

	p {
		animation-delay: 2s;
	}

	&_sheet {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&_line {
			height: 0.8px;
			width: 100%;
			background-color: $dark;
			opacity: 0.2;
			width: 0;
			transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* easeOutQuad */

			transition-timing-function: cubic-bezier(
				0.25,
				0.46,
				0.45,
				0.94
			); /* easeOutQuad */

			&.is-inview {
				width: 100%;
			}
		}
	}

	@include media("<=phoneL") {
		gap: 0;
	}

	&_item {
		grid-column: span 3;
		z-index: 99;

		.o-text:last-child {
			max-width: 25vw;
		}

		&:nth-child(1) {
			grid-row: 1/2;
			grid-column: 3/7;
		}

		&:nth-child(2) {
			grid-row: 2/3;
			grid-column: 6/10;
		}

		&:nth-child(3) {
			grid-row: 3/4;
			grid-column: 9/13;
		}

		&:nth-child(4) {
			grid-row: 4/5;
			grid-column: 6/10;
		}

		&:nth-child(5) {
			grid-row: 5/6;
			grid-column: 3/7;
		}
	}

	@include media("<=phoneL") {
		&_item {
			margin-bottom: 8vw;
		}

		.title,
		.title p {
			font-size: 13vw;
			line-height: 13vw;
		}

		&_sheet {
			display: none;
		}

		p {
			font-size: 3.4vw;
			line-height: 4.4vw;
		}

		.title {
			font-size: 8.3vw;
			line-height: 8vw;
			margin: 0;
		}

		&_item {
			grid-column: 1/13 !important;

			* {
				width: 100%;
				max-width: 100% !important;
				text-align: center;
			}
		}
	}
}
