.o-about {
	position: relative;
	font-weight: bolder;
	min-height: 80vw;
	display: flex;
	align-items: center;
	justify-content: center;

	.face {
		path {
			stroke: $light !important;
		}
	}

	&_content {
		display: flex;
		flex-direction: row-reverse;

		.inner {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.c-frame {
		@include frameRevealDefaultStyles();
	}

	.c-megaphone {
		width: 50vw;
		stroke: none;
		transform: rotate(-20deg);
	}

	&_content {
		.o-about_left,
		.o-about_right {
			flex: 50%;
			width: 50%;
		}
	}
	&_left {
		width: 50%;

		.o-text p:nth-of-type(1) {
			margin-bottom: $space-md;
		}
	}

	&_right {
		.c-drawnLogo {
			width: 40vw;
			height: 40vw;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			right: -20vw;
			transform: rotate(240deg);


			svg {
				overflow: visible;
			}

			svg *:not(.vibration) {
				display: none;
			}

			.vibration {
				stroke: none;

				&:nth-child(2) {
					fill: $blue;
				}

				&:nth-child(3) {
					fill: $red;
				}
			}
		}
	}

	&_content {
		@include media("<=phoneL") {
			flex-direction: column;
			justify-content: center;

			.o-about_left,
			.o-about_right {
				padding: 0;
			}

			.o-about_left {
				width: 100%;
			}

			.o-about_right {
				width: 80%;
				margin: 0 auto;
			}
		}
	}
}
