.fonts {
	.o-h1:nth-of-type(2) {
		font-family: "Kobe" !important;
	}

	.o-h1:nth-of-type(3) {
		font-family: "Dahlia" !important;
	}

	.o-h1 {
		margin: $space-xl 0;
		
	}
}

.o-work {

	.o-heading-wrapper {
		
		width: 70%;
		margin: 0 auto;

		.c-line {
			bottom: -1vw;	
		}

	}


	.o-slider {
		margin-top: $space-xxxl;
	}

	.c-grid_title {
		&::after {
			background-color: $light !important;
		}
	}

	.o-h2 {
		span {
			display: block;
		}
	}



	.o-h2 {
		z-index: 99;
	}

	&_card-layout {
		height: 80vw;
		width: 70%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: $space-xl 0;
		align-items: flex-end;
		justify-content: center;

		&_inner {
			display: flex;
			align-items: flex-end;
			justify-content: center;
		}
	}

	&_card {
		border-radius: 10px;
		background-size: cover;
		background-position: center;
		position: absolute !important;
		top: 20vw;
		left: 20vw;
		width: 28vw;
		height: 36vw;
		overflow: hidden;
		display: block;

		.card-info {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 2vw;
			color: $light;
			display: none;

			* {
				transform: translateY(50%);
				opacity: 0;
				transition: $transition;
			}

			h3,
			p {
				margin: 0;
			}
		}

		// &:hover .c-figure_inner::after {
		// 	opacity: 0.4;
		// }

		&:hover .card-info * {
			opacity: 1;
			transform: translateY(0);
		}

		&:hover .c-figure {
			transform: scale(1.2);
		}

		.c-figure {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: relative;
			transition: $transition-zoom;

			&_inner {
				&::after {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					background-color: black;
					opacity: 0;
					width: 100%;
					height: 100%;
					transition: $transition;
				}
			}
		}

		&_1 {
			left: 4vw;
			top: 0;

			transform: rotate(-10deg);
		}

		&_2 {
			top: 12vw;
		}

		&_3 {
			left: 60vw;
			top: 30vw;
			display: none;
		}

		figure {
			object-fit: cover;

			.c-image-revealer {
				display: none !important;
			}
		}
		// transform-origin: center;

		// &_2 {
		// 	left: 28vw;
		// 	top: 10vw;

		// }

		// &_3 {
		// 	left: 12vw;
		// 	top: 25vw;

		// }
	}
}
