.o-howHeading {
	height: 60vw;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.o-h1 {
		width: 100%;

		&,
		.c-line {
			text-align: left !important;
		}
	}

	.react-reveal {
		height: 100%;
		width: auto;
		position: absolute;
		left: 0;
		top: 0;
		overflow: visible;
		transform: rotate(-30deg) translateX(-40%);
		opacity: 0;

		svg {
			overflow: visible;
		}
	}
}

.musical-line {
	width: 50vw;
	path {
		fill: none !important;
		stroke: $yellow;
	}
}

.o-page_home {
	.o-how {
		.instrument-player-svg {
			position: absolute;
			top: 0;
			left: 0;
		}

		.o-colorBlobs {
			z-index: 0;
			display: none;

			.c-colorBlob_red {
				left: -12vw;
				width: 30vw;
			}

			.c-colorBlob_green {
				right: -3vw;
				width: 30vw;
				display: none;
			}

			.c-colorBlob_blue {
				right: -10vw;
				width: 30vw;
				top: 0;
			}

			.c-colorBlob_yellow {
				left: -10vw;
				width: 50vw;
				bottom: -8vw;

				path {
					fill: $yellow !important;
				}
			}

			.c-colorBlob_pink {
				display: none !important;
			}
		}

		position: relative;
		overflow: hidden;

		.c-drawing {
			position: absolute;
			z-index: 99999;

			&_lips {
				width: 15vw;
				top: 40vw;
				left: -1vw;
				display: block;
			}

			&_eye {
				width: 18vw;
				top: 5vw;
				right: -5vw;
				display: block;
			}

			&_ball {
				width: 5vw;
				top: 40vw;
				left: -1vw;
				display: block;
			}

			&_figure {
				width: 14vw;
				bottom: 10vw;
				right: 0;
				display: block;
			}

			&_brow {
				width: 18vw;
				top: -2vw;
				right: -5vw;
				display: block;
			}

			.c-drawing_assortment {
				width: 100vw;
				height: 100%;
				// display: none;
			}

			.proxy {
				fill: none;
				stroke: $light;
				stroke-width: 3vw;
			}

			path {
				stroke-linecap: round;
			}

			&_blue {
				top: -5vw;
				left: -14vw;
				width: 37vw;
			}

			&_green {
				right: -15vw;
				top: -5vw;
				width: 30vw;
			}

			&_red {
				top: 50vw;
				right: -8vw;
				width: 30vw;
			}

			&_yellow {
				bottom: -12vw;
				left: -8vw;
				width: 50vw;
			}

			&_small_yellow {
				top: 10vw;
				right: 30vw !important;
				width: 10vw !important;
				display: none;
			}

			&_small_pink {
				top: 8vw;
				right: 20vw;
				width: 8vw !important;
				display: none;
			}

			&_lightBlue {
				top: 0;
				left: 0;
				width: 100vw;
				display: none;
			}
		}

		.o-h1 {
			z-index: 99;
			position: static;
			margin: 0 auto;
			text-align: center;

			z-index: 999;
		}
	}
}

.steps-container .c-note {
	position: absolute;
	height: 4vw;
	transform: scale(0.01);
	z-index: 999;

	@include media("<=phoneL") {
		display: none;
	}

	&_1 {
		top: 0;
		left: 0;
	}

	&_2 {
		top: 20vw;
		right: 10vw;
		transform: rotate(90deg);
	}

	&_3 {
		left: 10vw;
		bottom: 30vw;
	}

	&_4 {
		right: 10vw;
		bottom: 5vw;
		transform: rotate(-80deg);
	}

	&_clef,
	&_whole {
		display: none;
	}

	> div {
		height: 100%;
		width: 100%;
	}

	path {
		fill: $dark;
	}

	&_clef {
		top: 0;
		left: -6vw;
		height: 6vw;
		transform: rotate(40deg);
		height: 7vw;
	}

	// &_half {
	// 	right: 20vw;
	// 	top: 15vw;
	// 	height: 5vw;
	// 	transform: rotate(30deg);
	// }

	// &_quarter {
	// 	left: 20vw;
	// 	top: 40vw;
	// 	height: 5vw;
	// }

	&_whole {
		right: 15vw;
		bottom: 17vw;
		height: 3vw;
		transform: rotate(270deg);
	}

	svg {
		height: 100%;
	}

	@include media("<=phoneL") {
		&_clef {
			top: 15vw;
			height: 12vw;
		}

		&_whole {
			height: 9vw;
			top: 35vw;
			right: -8vw;
		}

		&_quarter {
			height: 18vw;
			top: 150vw;
			left: -2vw;
			transform: rotate(30deg) !important;
		}

		&_half {
			height: 18vw;
			top: 100vw;
			left: -2vw;
			transform: rotate(30deg) !important;
		}
	}
}

.title,
.body {
	width: 17vw;
}

.title,
.title p {
	font-size: 4.167vw;
	line-height: 4.167vw;
	
	p {
		margin: 0;
	}
}

.body {
	font-family: "Riposte";
	font-size: 1.2vw;
	line-height: 1.5vw;

	p {
		margin: 0;
	}
}

.c-steps {
	position: relative;

	&_drawing-wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		.sheets {
			path {
				fill: none;
				opacity: 0.3;
			}
		}
		.eyes {
			position: absolute;
			right: 0;
			top: 5vw;
			width: 20vw;

			path {
				fill: none;
				stroke: $yellow;
			}
		}

		.player {
			width: 24vw;

			path {
				fill: none;

				stroke-width: 5px;

				&:nth-child(odd) {
					stroke: $blue;
				}

				&:nth-child(even) {
					stroke: $yellow;
				}
			}
		}

		.face {
			position: absolute;
			left: 0;
			top: 20vw;
			width: 10%;
			transform: rotate(-30deg);
			display: none;

			path {
				fill: none;
				stroke: $blue !important;
			}
		}
		.light {
			position: absolute;
			right: 0;
			top: 2vw;
			width: 10%;
			transform: rotate(-30deg);
			display: none;

			path {
				fill: none;
				stroke: $yellow !important;
			}
		}
	}

	&_background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #6a9ab7;
		transform: scale(0.7);
		display: none;
	}

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5vw;

	p {
		animation-delay: 2s;
	}

	&_sheet {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// display: none;

		&_line {
			height: 0.8px;
			width: 100%;
			background-color: $dark;
			opacity: 0.2;
			width: 0;
			transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* easeOutQuad */

			transition-timing-function: cubic-bezier(
				0.25,
				0.46,
				0.45,
				0.94
			); /* easeOutQuad */

			&.is-inview {
				width: 100%;
			}
		}
	}

	@include media("<=phoneL") {
		gap: 0;
	}

	&_item {
		z-index: 99;
		grid-column: span 3;
		z-index: 99;

		.o-text:last-child {
			max-width: 25vw;
		}

		&_1 {
			grid-row: 1/2;
			grid-column: 3/7;
		}

		&_2 {
			grid-row: 2/3;
			grid-column: 6/10;
		}

		&_3 {
			grid-row: 3/4;
			grid-column: 9/13;
		}

		&_4 {
			grid-row: 4/5;
			grid-column: 6/10;
		}

		&_5 {
			grid-row: 5/6;
			grid-column: 3/7;
		}
	}

	@include media("<=phoneL") {
		&_item {
			margin-bottom: 8vw;
		}

		.title,
		.title p {
			font-size: 19vw;
			line-height: 19vw;
		}

		&_sheet {
			display: none;
		}

		p {
			font-size: 3vw;
			line-height: 4vw;
		}

		.title {
			margin: 0;

			p {
				font-size: 9vw;
				line-height: 9vw;
			}
		}

		&_item {
			grid-column: 1/13 !important;

			.title,
			.body {
				max-width: 100%;
				width: 100%;
				text-align: center;
			}
		}
	}
}
