.o-work {
	.o-h1 {
		width: 60%;
		margin: 0 auto;
	}

	&_card-layout {
		height: 80vw;
		width: 70%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: $space-xl 0;
	}

	&_card {
		border-radius: 10px;
		background-size: cover;
		background-position: center;
		position: absolute !important;
		top: 0;
		left: 0;

		figure {
			object-fit: cover;

			.c-image-revealer {
				display: none !important;
			}
		}
		// transform-origin: center;

		&_1 {
			// transform: rotate(-10deg);
			width: 28vw;
			height: 30vw;
		}

		&_2 {
			left: 28vw;
			top: 10vw;
			width: 30vw;
			height: 30vw;
		}

		&_3 {
			left: 12vw;
			top: 25vw;
			width: 23vw;
			height: 30vw;
		}
	}
}
