.o-about {
	position: relative;
	font-weight: bolder;
	display: flex;
	align-items: center;
	justify-content: center;

	.face {
		path {
			stroke: $light !important;
		}
	}

	&_content {
		display: flex;
		flex-direction: row-reverse;
		width: 100%;


		.inner {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.c-frame {
		@include frameRevealDefaultStyles();
	}



	.c-vibrations {

		height: 20vw;
		width: 20vw;
		position: absolute;
		top: -18vw;
		left: -15vw;
		transform: scaleX(-100%) rotate(-20deg);

		svg {
			height: 100%;
			position: absolute;
			overflow: visible;

			&:nth-child(1) {
				top: -2vw;
				left: 5vw;
				transform: scale(0.8);
				
				path {
					fill: $green;
					stroke: none;
				}
			}

			&:nth-child(2) {
				left: 0;
				top: -1vw;
				transform: scale(0.6);
				path {
					fill: $blue;
					stroke: none;
				}
			}

			&:nth-child(3) {
				left: -7vw;
				transform: scale(0.4);
				path {
					fill: $red;
					stroke: none;
				}
			}

		}



		svg path {
			fill: $light;
		}
	}


	&_left {
		width: 60%;

		.o-text p:nth-of-type(1) {
			margin-bottom: $space-md;
		}
	}

	&_right {
			width: 40%;
		
			transform: translateX(50%) rotate(60deg);
			opacity: 0;
		
		.c-drawnLogo {
			width: 40vw;
			height: 40vw;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			right: -20vw;
			transform: rotate(240deg);


			svg {
				overflow: visible;
			}

			svg *:not(.vibration) {
				display: none;
			}

			.vibration {
				stroke: none;

				&:nth-child(2) {
					fill: $blue;
				}

				&:nth-child(3) {
					fill: $red;
				}
			}
		}
	}

	&_content {

		

		@include media("<=tablet") {
			flex-direction: column;
			justify-content: center;

			.c-vibrations {
				top: -12vw;
				left: -9vw
			}

			.o-about_left,
			.o-about_right {
				padding: 0;
			}

			

			.o-about_left {
				width: 100%;
				margin-top: $space-lg;
			}

			.o-about_right {
				width: 80%;
				height: 50vw;
				margin: 0 auto;
				margin-top: $space-lg;

				.c-megaphone {
					position: static;
				}
			}
		}
	}
}
