.c-footer {
	height: $footerHeight;
	max-height: 600px;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100vw;

	&_content {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		// flex-direction: column;
		

	

		&_contact {
			display: flex;
			flex-direction: column;

			

			.email {
				font-size: 2.8vw;

				@include media("<=tablet") {
					font-size: 6.2vw;
				}
			}
		
		}

		.c-arrow-button {
			align-self: flex-start;
			width: 3rem;
			height: 3rem;
		}

		> div:not(.c-footer_bottom) {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@include media("<=tablet") {
				justify-content: center;
			}
			
		}

		.c-drawnLogo {
			width: 12vw;
			@include media("<=tablet") {
				display: none;
			}
	
		

			.faceLine {
				fill: $light !important;
			}
		}
	}

	&_bottom {
		width: 100%;
		box-sizing: border-box;
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2rem 0;

		.c-list_social {
			margin-left: 1rem;
		}

		nav {
			display: none;

			height: 100%;
			ul {
				display: flex;
				width: 100%;
				align-items: center;
				height: 100%;
				justify-content: flex-end;
			}
		}

		ul li a {
			color: $light;
		}
	}
}
