.c-footer {
	height: $footerHeight;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100vw;

	&_content {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		flex-direction: column;

		.c-arrow-button {
			align-self: flex-start;
		}

		> div {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.drawnLogo {
			width: 12vw;

			.faceLine {
				fill: $light !important;
			}
		}
	}

	&_bottom {
		width: 100%;

		box-sizing: border-box;
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2rem;

		nav {
			display: none;

			height: 100%;
			ul {
				display: flex;
				width: 100%;
				align-items: center;
				height: 100%;
				justify-content: flex-end;
			}
		}

		ul li a {
			color: $light;
		}
	}
}
