\.ProjectGridItem .ProjectGridItemImage {
	height: 49vw;
	max-height: auto;
}

@media screen and (min-width: 769px) {
	.ProjectGridItem_1 .ProjectGridItemImage,
	.ProjectGridItem_3 .ProjectGridItemImage {
		height: 25vw;
		max-height: 300px;
	}

	.ProjectGridItem_2 .ProjectGridItemImage {
		height: 36vw;
		max-height: 440px;
	}

	.ProjectGridItem_4 .ProjectGridItemImage {
		height: 50vw;
		max-height: 700px;
	}
}
