@keyframes scaleMenuBg {
	0% {
		transform: scaleX(0.001);
	}
	100% {
		transform: scaleX(1);
	}
}

@keyframes arrowOut {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes arrowIn {
	0% {
		transform: translateX(-105%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes imageZoom {
	0% {
		transform: scale(0.8)
	}

	100% {
		transform: scale(1.2);
	}
}

@keyframes figureReveal {
	to {
		transform: scale(1);
	}
}

@keyframes frameRevealY {
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

@keyframes frameRevealX {
	to {
		transform: scaleX(1);
		opacity: 1;
	}
}

@keyframes frameScale {
	to {
		transform: rotate(0deg)scale(1.1);
		opacity: 1;

	}
}
