@font-face {
	font-family: "Riposte";
	src: url("../assets/fonts/GTFRiposteTRIAL-Regular.otf");
}

@font-face {
	font-family: "Kobe Bold";
	src: url("../assets/fonts/Kobe1.1-Bold.woff");
}

@font-face {
	font-family: "Ginto";
	src: url("../assets/fonts/Ginto.woff");
}

@font-face {
	font-family: "OggItalic";
	src: url("../assets/fonts/OggItalic.ttf");
}

@font-face {
	font-family: "Neue Mtl";
	src: url("../assets/fonts/NeueMontreal-Regular.otf");
}

@font-face {
	font-family: "America";
	src: url("../assets//fonts/GT-America-Standard-Regular-Trial.woff2");
}

em {
	position: relative;
	font-style: normal;
}
