* {
	-webkit-font-smoothing: antialiased;
	font-weight: lighter;
	box-sizing: border-box;
	font-family: "Canela";
}

// @font-face {
// 	font-family: "Kobe";
// 	src: url("../assets//fonts/Kobe.woff")
// }

// @font-face {
// 	font-family: "Kobe Bold";
// 	src: url("../assets//fonts/KobeBold.woff")
// }

@font-face {
	font-family: "Canela";
	src: url("../assets/fonts/Kobe1.1-Regular.woff");
}

@font-face {
	font-family: "Dahlia";
	src: url("../assets/fonts/Dahlia-Regular.woff");
}

@font-face {
	font-family: "Canela";
	src: url("../assets/fonts/Canela-Medium-Trial.otf");
	font-weight: 500;
}

@font-face {
	font-family: "Canela";
	font-style: italic;
	src: url("../assets/fonts/Canela-ThinItalic-Trial.otf");
}

@font-face {
	font-family: "Riposte";
	src: url("../assets/fonts/GTFRiposteTRIAL-Regular.otf");
}

@font-face {
	font-family: "Kobe Bold";
	src: url("../assets/fonts/Kobe1.1-Bold.woff");
}

// @font-face {
// 	font-family: "Soehne Body";
// 	src: url("../assets//fonts/SoehneBody.woff2")
// }

body {
	overflow-y: hidden;
}

a,
.c-link,
h4,
.o-text {
	font-family: "Riposte";
}

.scroll-to-top {
	position: fixed !important;
	bottom: 0;
	right: 0;
}

.App {
	background-color: $light;
	transition-delay: 300ms;

	&.is-new-page main {
		opacity: 1;
	}

	&.is-old-page main {
		opacity: 0;
	}
}

p {
	margin: $space-xs 0;
}

main {
	transition: $transition;
}

.c-heading.-h2 {
	font-size: 2rem;
}

body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.line-wrapper {
	overflow: hidden;
}

@media (max-width: 699px) {
	html {
		font-size: 12px;
	}
}
@media (min-width: 700px) and (max-width: 1024px) {
	html {
		font-size: 13px;
	}
}
@media (min-width: 1025px) and (max-width: 1199px) {
	html {
		font-size: 13px;
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {
	html {
		font-size: 15px;
	}
}
@media (min-width: 1400px) and (max-width: 1599px) {
	html {
		font-size: 15px;
	}
}
@media (min-width: 1600px) and (max-width: 1999px) {
	html {
		font-size: 17px;
	}
}
@media (min-width: 2000px) and (max-width: 2399px) {
	html {
		font-size: 19px;
	}
}
@media (min-width: 2400px) {
	html {
		font-size: 21px;
	}
}

[data-theme="green"] {
	background-color: $green;
	color: $light;

	svg path {
		fill: $light;
		stroke: $light;
	}

	*::after {
		background-color: $light;
	}
}

[data-theme="red"] {
	background-color: $red;
	color: $light;

	svg path {
		fill: $light;
		stroke: $light;
	}

	svg circle {
		stroke: $light;
		stroke-width: 1px;
	}

	*::after {
		background-color: $light;
	}
}

[data-theme="yellow"] {
	background-color: $yellow;
	color: $dark;

	svg path {
		fill: $dark;
		stroke: $dark;
	}

	*::after {
		background-color: $dark;
	}
}

[data-theme="blue"] {
	background-color: $blue;
	color: $light;

	svg path {
		fill: $light;
		stroke: $light;
	}

	*::after {
		background-color: $light;
	}
}

[data-theme="light"] {
	background-color: $light;
	color: $dark;
	fill: $dark;

	*::after,
	*::before {
		background-color: $dark;
	}
}

[data-theme="dark"] {
	background-color: $dark;
	color: $light !important;
	fill: $light;
	stroke: $light;

	*::after,
	*::before {
		background-color: $light;
	}
}
