//Colors
$light: #f9f8f4;
$dark: #181818;
$dark2: #2e2e2e;
$lighterDark: #111111;
$navy: #12233f;
$red: #e94034;
$green: #16854b;
$blue: #0a4d98;
$yellow: #F6E544;
$pink: #f1b9b8;
$orange: #e94934;
$grey: rgb(174, 174, 174);
$purple: #5b487c;
$gradient-primary: linear-gradient(
	#516dc1,
	#ce4469,
	#ce4469,
	#fb986c,
	#fb986c,
	#a99af4,
	#a99af4,
	#2fd8a8,
	#2fd8a8,
	#009b8e,
	#009b8e,
	#516dc1,
	#516dc1,
	#ce4469
);
$gradient-secondary: #785b75, #326461, #d4a263;
