.Cta:hover svg,
.Cta:hover span {
	transform: translateX(20px);
}

.Cta:hover span {
	transition-delay: 0.18s;
}

.Cta svg,
.Cta span,
.Cta span::after {
	transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Cta span {
	transition-delay: 0s;
}

.Cta:hover span::after {
	transform: translateY(-50%) translateX(-10px) scale(1.4);
}
