@media (hover: hover) {
	.Cta:hover svg,
	.Cta:hover span {
		transform: translateX(7px);
	}
}

.Cta svg,
.Cta span {
	transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Cta:hover span {
	transition-delay: 0.18s;
}
